@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-style: normal;
  font-weight: normal;
}
a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
body {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  background-color: var(--Bg-dark);
}
h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

:root {
  --Bg-dark: #030303;
  --Dark-red: #710707;
  --Font-gold: #9d8665;
  --Font-gold-active: #7e6c51;
}

.header_bg {
  // position: sticky;
  // top: 0;
  // z-index: 10;
  background-color: var(--Bg-dark);
}
.header {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
  background-color: var(--Bg-dark);
}
.header_logo {
  width: 199px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.header_nav {
  width: 100%;
  max-width: 775px;
  min-width: 385px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding: 3px 0px;
      border-bottom: solid 3px #f1cdb3;
    }
    li,
    a {
      list-style-type: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      color: #ffffff;
    }
    a:hover {
      color: var(--Font-gold);
    }
    a:active {
      color: var(--Font-gold-active);
    }
  }
}

.welcome_bg {
  background-color: var(--Bg-dark);
}
.welcome {
  position: relative;
  margin: auto;
  width: 100%;
  height: 810px;
  max-width: 1440px;
  display: flex;
  background-color: var(--Bg-dark);
}
.welcome_info {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  max-width: 600px;
  z-index: 10;

  h2 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
  }
  h3 {
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #ffffff;
  }
  button {
    margin-top: 75px;
    width: 360px;
    height: 75px;
    background-color: var(--Dark-red);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;

    color: #ffffff;
  }
  button:hover {
    background-color: var(--Font-gold);
  }
  button:active {
    background-color: var(--Font-gold-active);
  }
}
.welcome_slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 69.5%;
  height: 100%;
}
.welcome_slider-img {
  max-width: 1000px;
  max-height: 750px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #030303 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%),
    url("../assets/1.jpg");
}
.welcome_slider-pult {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
  height: 120px;
  background-color: var(--Bg-dark);
  // background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pult_items {
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pult_couner {
  width: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.pult_imgs {
  margin-top: 2px;
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}
.switch_dot {
  appearance: none;
  outline: none;
  margin: 0;
}
.switch_dot:after {
  width: 16px;
  height: 16px;
  // border-radius: 8px;
  // top: -2px;
  // left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.switch_dot:checked:after {
  background-color: #d2b183;
  visibility: visible;
}
.switch_dot:hover:after {
  background-color: #9d8665;
  visibility: visible;
}
.pult_arrows {
  width: 80px;
  display: flex;
  justify-content: space-between;
  svg {
    fill: #fff;
  }
  svg:hover {
    fill: #9d8665;
  }
  svg:active {
    fill: #d2b183;
  }
}

.visiting_bg {
  background-color: #fff;
}
.visiting {
  padding: 75px 0px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  // height: 1266px;
}
.visiting_cards {
  margin-top: 25px;
  padding-top: 75px;
  border-top: 3px solid var(--Dark-red);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 75px;
}
.visiting_card {
  width: 440px;
  height: 424px;
  cursor: pointer;
  h3 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  .card_text2 {
    font-size: 18px;
    line-height: 21px;
  }
}
.card_line {
  margin-top: 10px;
  width: 300px;
  height: 3px;
  background-color: var(--Dark-red);
  transition: all 0.3s ease 0s;
}
.visiting_card:hover > .card_line {
  width: 100%;
}
.explore_bg {
  background-color: var(--Bg-dark);
}
.explore {
  margin: 0 auto;
  background-color: var(--Bg-dark);
  width: 100%;
  max-width: 1440px;
  // height: 865px;
  padding: 75px 0px;
  h2 {
    color: #fff;
    margin-bottom: 25px;
  }
}
.explore_wrapp {
  display: flex;
  justify-content: space-between;
}
.explore_info {
  width: 660px;
  p {
    max-width: 655px;
    margin-top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #ffffff;
    span {
      color: #caaa7d;
    }
  }
  .first_info_p {
    padding-top: 75px;
    border-top: 3px solid var(--Dark-red);
    margin-top: 0;
  }
}
.explore_img {
  margin-top: 15px;
  width: 720px;
  height: 700px;
  background: url(../assets/explore/1.png);
  display: flex;
}
.explore_slider {
  margin-left: -20px;
  cursor: pointer;
}
.video_bg {
  background-color: #fff;
}
.video {
  margin: 0 auto;
  padding: 75px 0px;
  width: 100%;
  max-width: 1440px;
  min-height: 1396px;
  background-color: #fff;
}
.video_logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    width: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
  }
}
.video_player {
  margin-top: 75px;
}
.video_img {
  width: 100%;
  height: 650px;
  background: url(../assets/video/video.png);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
  }
  img:hover {
    opacity: 0.9;
  }
}
.video_panel {
  width: 100%;
  height: 85px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 25px 30px;
  align-items: center;
  svg {
    cursor: pointer;
    fill: #b3b3b3;
  }
  svg:hover {
    fill: #989898;
  }
}
.video_progress,
.video_vol {
  background: linear-gradient(to right, #710707 0%, #710707 54%, #fff 40%, #fff 100%);
  height: 8px;
  width: 929px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}
.video_vol {
  background: linear-gradient(to right, #710707 0%, #710707 44%, #fff 40%, #fff 100%);
  width: 155px;
}
.video_progress::-webkit-slider-thumb,
.video_vol::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.video_videos {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.video_mini {
  width: 452px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
  }
}
.one {
  background: url(../assets/video/1.png);
}
.two {
  background: url(../assets/video/2.png);
}
.three {
  background: url(../assets/video/3.png);
}
.video_slider {
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  svg {
    fill: #999;
    cursor: pointer;
  }
  svg:hover {
    fill: var(--Dark-red);
  }
  svg:active {
    fill: var(--Font-gold-active);
  }
}
.slider_dot {
  appearance: none;
  outline: none;
  margin: 0;
}
.slider_dot:after {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  // top: -2px;
  // left: -1px;
  position: relative;
  background-color: #999;
  content: "";
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.slider_dot:checked:after {
  background-color: #333;
  visibility: visible;
}
.slider_dot:hover:after {
  background-color: var(--Dark-red);
  visibility: visible;
}
.gallery_bg {
  background-color: var(--Bg-dark);
}
.gallery {
  margin: 0 auto;
  padding-top: 75px;
  background-color: var(--Bg-dark);
  width: 100%;
  max-width: 1440px;
  height: 2200px;
  overflow: hidden;
  h2 {
    color: #fff;
  }
}
.gallery_grid {
  position: relative;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36px;
}
.column2 {
  // display: grid;
  // row-gap: 24px;
  :nth-child(1) {
    margin-top: 0;
  }
  img {
    margin-top: 20px;
  }
}
.column3,
.column1 {
  padding-top: 50px;
  // display: grid;
  // row-gap: 24px;
  :nth-child(1) {
    margin-top: 0;
  }
  img {
    margin-top: 20px;
  }
}
.gallery_shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets_bg {
  background-color: #fff;
}
.tickets {
  margin: 0 auto;
  padding: 75px 0 71px 0;
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
  min-height: 893px;
}
.tickets_wrap {
  margin-top: 25px;
  border-top: 3px solid var(--Dark-red);
  padding-top: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tickets_info {
  margin-left: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }
}
.tickets_radio {
  margin-top: 50px;
}
/* The container */
.container {
  display: block;
  position: relative;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 24px;
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: -0.1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196f3;
// }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
}
.tickets_info_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
}
.tickets_info_right_control {
  margin-top: 25px;
  width: 150px;
}
.tickets_number {
  margin-top: 15px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 0 12px;
  input {
    text-align: center;
    position: relative;
    // width: 50px;
    all: unset;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  input[type="number"]::-webkit-inner-spin-button {
    position: absolute;
    width: 12.5%;
    height: 100%;
    top: 0;
    right: 0;
  }
  button {
    width: 19px;
    background: none;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
  }
}

.number_p {
  margin-top: 10px;
}
.tickets_prise {
  margin-top: 50px;
  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
  }
}
.tickets_buy {
  margin-top: 60px;
  width: 175px;
  height: 50px;
  border: none;
  background: #000000;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;

  color: #ffffff;
}
.tickets_buy:hover {
  background: var(--Font-gold);
}
.tickets_buy:active {
  background: var(--Font-gold-active);
}
.paralax1_bg {
  background-color: #fff;
}
.paralax1 {
  margin: 0 auto;
  max-width: 1920px;
  height: 400px;
  background: url(../assets/cobtacts/parallax1.png);
}
.contacts_bg {
  background-color: #fff;
}
.contacts {
  margin: 0 auto;
  padding: 75px 0 70px 0;
  width: 100%;
  max-width: 1440px;
  background-color: #fff;
}
.contacts_wrapper {
  margin-top: 25px;
  padding-top: 75px;
  border-top: 3px solid var(--Dark-red);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts_info {
  h3 {
    width: 227px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }
  p {
    margin-top: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  :nth-child(2) {
    margin-top: 50px;
  }
}
.footer_bg {
  position: relative;
  background-color: var(--Bg-dark);
}
.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 392px;
  background-color: var(--Bg-dark);
}
.footer_top {
  display: flex;
  padding-top: 83px;
  width: 100%;
  height: 265px;
  // background-color: var(--Dark-red);
}
.footer_top_logo {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: baseline;
  h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.footer_nav {
  // height: 100%;
  margin-left: 140px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 363px;
  ul {
    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      color: #ffffff;
    }
    a:hover {
      color: var(--Font-gold);
    }
    a:active {
      color: var(--Font-gold-active);
    }
    li {
      margin-bottom: 25px;
    }
  }
}
.footer_line {
  position: absolute;
  left: 0;
  top: 265px;
  width: 100%;
  height: 3px;
  background-color: #666666;
}
.footer_social {
  width: 340px;
  margin-top: 80px;
  margin-left: 400px;
  display: flex;
  justify-content: space-between;
  svg {
    cursor: pointer;
    path {
      fill: #fff;
    }
    rect {
      stroke: #666;
    }
  }
  svg:hover > path {
    fill: var(--Font-gold);
    stroke: var(--Font-gold);
  }
  svg:active > path {
    fill: var(--Font-gold-active);
  }
  // svg:hover > rect {
  //   stroke: var(--Font-gold);
  // }
  // svg:active > rect {
  //   stroke: var(--Font-gold-active);
  // }
}
.footer_bot {
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #ffffff;
  }
}
